{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Investment
{% endblock %}

{% block content %}

    <p>Instructions</p>
<p>These are the <strong>instructions</strong> for our experiment.</p>
<ul>
<li>Item 1</li>
<li>Item 2</li>
</ul>
<table width="234">
<tbody>
<tr>
<td>Cell1</td>
<td>Cell 2</td>
       </tr>
      <tr>
            <td>Cell 3</td>
            <td>Cell 4</td>
        </tr>
    </tbody>
</table>

    {% formfield player.investment %}

    {% next_button %}

{% endblock %}
